<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no-gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file ="$(find te)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no-gui" value="$(arg no-gui)"/>
    <arg name="world" value="$(find te)/worlds/mob.wbt"/>
  </include>

  <arg name="auto-close" default="false" doc="Startup mode"/>
  <node name="mob_controller" pkg="te" type="mob" required="$(arg auto-close)" output="screen"/>


  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" >
    <remap from="scan" to="/mob/lidar/laser_scan/layer0"/>
    <param name="delta" value="0.1"/>
    <param name="maxUrange" value="8"/>
    <param name="xmin" value="-30.0"/>
    <param name="ymin" value="-30.0"/>
    <param name="xmax" value="30.0"/>
    <param name="ymax" value="30.0"/>
    <param name="particles" value="60"/>
    <!-- <param name="srr" value="0"/>
    <param name="srt" value="0"/>
    <param name="str" value="0.05"/>
    <param name="stt" value="0.05"/> -->
    <!-- <param name="minimumScore" value="0"/> -->
    <param name="map_update_interval" value="5"/>
  </node >


  <include file ="$(find te)/launch/rviz.launch"/>

</launch>







